#!/usr/bin/env bash

# Some of these have been taken from https://github.com/mathiasbynens/dotfiles

export HISTCONTROL=ignoreboth
export PROMPT_COMMAND="history -a"
export HISTSIZE=100000
export HISTFILESIZE=100000
#export HISTTIMEFORMAT="%Y/%m/%d %H:%M:%S:   "
export EDITOR=vim

export MAVEN_OPTS=-Xmx512m

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

if [[ "$OSTYPE" == "linux-gnu"* ]]; then

  PATH=$HOME/tools

  if [ -d "$HOME/.local/bin" ] ; then
      PATH="$HOME/.local/bin:$PATH"
  fi

elif [[ "$OSTYPE" == "darwin"* ]]; then
  if [ -d "$HOME/.local/bin" ] ; then
      PATH="$HOME/.local/bin:$PATH"
  fi

  export BASH_SILENCE_DEPRECATION_WARNING=1

  export PATH=$PATH:$HOME/local/bin:$HOME/tools

  export LIQUIBASE_HOME=/usr/local/opt/liquibase/libexec
  export PATH=$PATH:$HOME/tools/toggl-cli
  export PATH=$PATH:$HOME/tools/terraform_0.6.16_darwin_amd64
  export PATH=$PATH:$HOME/bin
  export PATH=$PATH:$HOME/tools/apache-maven-3.5.0/bin
  export GRADLE_HOME=$HOME/tools/gradle-5.2.1
  export GROOVY_HOME=$HOME/tools/groovy-2.4.12

  POSTGRES_HOME=/Applications/Postgres.app/Contents/Versions/latest
  export PATH=$PATH:$POSTGRES_HOME/bin

  export FLUTTER_HOME=$HOME/tools/flutter_macos_1.22.2-stable

  # gnubin is for gnu packages (like gnu-sed/gsed)
  export PATH=/usr/local/opt/grep/libexec/gnubin:/usr/local/opt/gnu-sed/libexec/gnubin:$PATH:/usr/local/sbin
  export PATH=$PATH:$FLUTTER_HOME/bin
  export JAVA_HOME=`/usr/libexec/java_home -v11.0.1`
  # per https://github.com/pstadler/keybase-gpg-github
  # Avoid issues with `gpg` as installed via Homebrew.
  # https://stackoverflow.com/a/42265848/96656
  export GPG_TTY=$(tty)

  # make GNU commands available
  export PATH="/usr/local/opt/coreutils/libexec/gnubin:${PATH}"
  export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:${MANPATH}"

  # The next line updates PATH for the Google Cloud SDK.
  if [ -f "$HOME/tools/google-cloud-sdk/path.bash.inc" ]; then . "$HOME/tools/google-cloud-sdk/path.bash.inc"; fi

  # The next line enables shell command completion for gcloud.
  if [ -f "$HOME/tools/google-cloud-sdk/completion.bash.inc" ]; then . "$HOME/tools/google-cloud-sdk/completion.bash.inc"; fi


elif [[ "$OSTYPE" == "cygwin" ]]; then
  # POSIX compatibility layer and Linux environment emulation for Windows
  :
elif [[ "$OSTYPE" == "msys" ]]; then
  # Lightweight shell and GNU utilities compiled for Windows (part of MinGW)
  :
elif [[ "$OSTYPE" == "win32" ]]; then
  # I'm not sure this can happen.
  :
elif [[ "$OSTYPE" == "freebsd"* ]]; then
  # ...
  :
else
  # Unknown.
  :
fi

export PATH=$PATH:$GRADLE_HOME/bin:$GROOVY_HOME/bin

# Careful git uses LESS
# https://stackoverflow.com/questions/48341920/git-branch-command-behaves-like-less

# From https://gist.github.com/textarcana/4611277
#export LESSOPEN="| /usr/local/bin/src-hilite-lesspipe.sh %s"
# From https://gist.github.com/karolyi/ad020e676e989678d16e
#export LESSOPEN='| /usr/local/etc/source-highlight-esc.sh %s'

export LESS="--quit-if-one-screen --RAW-CONTROL-CHARS --LONG-PROMPT --shift 5 --chop-long-lines "

export PATH="$HOME/bin:$PATH";

# WSL 2 specific settings
if grep -q "microsoft" /proc/version &>/dev/null; then
  :
  export GCLOUD_HOME=$HOME/tools/google-cloud-sdk
  export PATH=$GCLOUD_HOME/bin:$PATH
fi

# WSL 1 specific settings
if grep -q "(Microsoft|WSL)" /proc/version &>/dev/null; then
  if [ "$(umask)" = "0000" ]; then
    umask 0022
  fi
fi
