#!/usr/bin/env bash

if test -f ~/workspaces/dotfiles-1/.functions; then
  source ~/workspaces/dotfiles-1/.functions
fi

# Remove ones I don't use/want
unset tre;
unset getcertnames;
unset digga;
unset gz;
unset phpserver;
unset targz;
unset cdf;

function tcpserver() {
  command tcpserver -B "#######\nThis is our banner\n######\n" 127.0.0.1 3333 expect -c 'expect "hello" ; send "hi\n" ; expect "bye" ; send "see you\n"'
}

function pyserver() {
  local port="${1:-8000}";
  # python2 -m SimpleHTTPServer "$port"
  python3 -m http.server "$port"
}

function server() {
  local port="${1:-3000}";
  local script="const http = require('http'); const fs = require('fs'); let listenPort = process.env.PORT || $port; var server = http.createServer({}, (request, response) => { try { if (fs.existsSync('index.html')) { fs.readFile('index.html', (err, data) => { if (err) console.log(err); response.write(data.toString('utf8')); response.end(); }); } else { response.statusCode = 404; response.write('No file found - this only serves index.html'); response.end(); } } catch(err) { console.error(err); } }); console.log('Listening on port ' + listenPort); server.listen(listenPort, '127.0.0.1'); console.log('Server started');";

  if [ -x "$(command -v node)" ]; then
    echo 'Using node'
    node --eval "$script"
  elif [ -x "$(command -v nodejs)" ]; then
    echo 'Using nodejs'
    nodejs --eval "$script"
  elif [ -x "$(command -v node-16)" ]; then
    echo 'Using node-16'
    node-16 --eval "$script"
  elif [ -x "$(command -v node-20)" ]; then
    echo 'Using node-20'
    node-20 --eval "$script"
  else
    echo "You need to install nodejs"
  fi
}

function turnOnNVM() {
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
}

function turnOnNpmCompletion() {
  source <(npm completion)
}

function skipTests() {
  mvn clean package -DskipMunitTests "$@"
}

function prettyXml {
  xmllint --format "$1" > "$1".a_longer_extension_to_ensure_unique
  mv "$1".a_longer_extension_to_ensure_unique "$1"
}

function turnOnRVM() {
  [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*
}

# shellcheck disable=SC2317
function update-system() {
  sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y
}

function update-upstream() {
  git fetch upstream
  git switch master
  git merge upstream/master
}
function update-upstream-main() {
  git fetch upstream
  git switch main
  git merge upstream/main
}

function update-git() {
  for D in *
  do
    [ -d "${D}/.git" ] && echo -n "$D " && git -C "$D" pull --rebase
  done
}

function update-gems() {
  bundle lock --update
  bundle install
}

function turnOnASDF() {
  if [[ -z "$ASDF_DATA_DIR" ]]; then
    export ASDF_DEFAULT_TOOL_VERSIONS_FILENAME=.tool-versions
    export ASDF_DATA_DIR=$HOME/.asdf
    export ASDF_CONFIG_FILE=$HOME/.asdfrc
    export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"

    # This is not needed on my MacOS because asdf is now
    # managed by homebrew.
    if [[ "$OSTYPE" == "linux-gnu"* ]]; then
      export PATH="$HOME/.asdf/bin:$PATH"
    fi

    . <(asdf completion bash)
  else
    echo "asdf-vm has already been turned on"
  fi
}

function turnOnVENV() {
  if [[ -d .venv ]]; then
    source .venv/bin/activate
  elif [[ -d ../.venv ]]; then
    source ../.venv/bin/activate
  else
    echo "Can't find a venv to source"
  fi
}

function build-venv() {
  if [[ -d .venv ]]; then
    echo "Won't build .venv because it is already exists."
  else
    python -m venv .venv && \
      turnOnVENV && \
      update-pip && \
      python -m pip install wheel && \
      python -m pip install pytest && \
      python -m pip install pyclean && \
      python -m pip install pylint-django && \
      python -m pip install behave && \
      python -m pip install pylint && \
      python -m pip install pur && \
      python -m pip install pre-commit && \
      [[ -s requirements.txt ]] && python -m pip install -r requirements.txt && \
      [[ -s test_requirements.txt ]] && python -m pip install -r test_requirements.txt
  fi
}
function cleanup-venv() {
  if [[ -d .venv ]]; then
    deactivate && rm -rf .venv && build-venv
  else
    echo "Can't find a venv to clean"
  fi
}

function update-pip() {
  python -m pip install --upgrade pip
}

function update-npm() {
  npm install -g npm
}

function update-system() {
  sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y
}

function cleanup-docker() {
  docker system prune -a
  docker volume prune
}

function cleanup-directories() {
  find . -name ".DS_Store" -print -delete
}

function compress-image() {
  convert -strip -interlace Plane -gaussian-blur 0.05 -quality 85% "$1" "${1%.jpg}-compressed.jpg"
}

function turnOnAutojump() {
  [ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh
}

function sound-good() {
  afplay ~/workspaces/livestream-jamesshore/build/sounds/success.mp3
}
function sound-bad() {
  #afplay ~/workspaces/livestream-jamesshore/build/sounds/lint_error.mp3
  afplay ~/workspaces/livestream-jamesshore/build/sounds/fail.m4a
}


if [[ "$OSTYPE" == "darwin"* ]]; then
  function update-brew() {
    brew update && brew upgrade && echo 'Now sleeping....' && sleep 1 && echo 'brew cleanup:' && brew cleanup && echo 'sleeping again....' && sleep 1 && echo 'brew cleanup --prune-prefix' && brew cleanup --prune-prefix
    # echo 'Not doing "brew prune" anymore - cause it is deprecated'
  }

  function flush-dns() {

    sudo ifconfig en0 down
    sleep 5

    sudo killall -HUP mDNSResponder
    sudo dscacheutil -flushcache
    sudo route flush
    sudo ifconfig en0 up
  }

  function unlock() {
    # You can verify a file is unlocked with: /bin/ls -lO "$1"
    # There you will see "uchg" if it is locked and I think - if it is unlocked.
    chflags -R nouchg "$1"
  }

  # Show active network interfaces
  # alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
  # I had this as an alias, but the quoting was too much
  # https://unix.stackexchange.com/questions/103241/how-to-use-ifconfig-to-show-active-interface-only
  function ifactive {
    ifconfig -a | awk 'BEGIN { print_it = 0 }
    /status: active/ { print_it = 1 }
    /^($|[^\t])/     { if(print_it) print buffer; buffer = $0; print_it = 0 }
    /^\t/            { buffer = buffer "\n" $0 }
    END              { if(print_it) print buffer }'
  }

  function netinfo() {
    local wdutil_out
    wdutil_out=$(sudo wdutil info 2>/dev/null)

    echo "=== Network Info ==="

    # WiFi
    local ssid ip dns gateway
    ssid=$(echo "$wdutil_out"    | awk '/SSID/{print $3}')
    ip=$(echo "$wdutil_out"      | awk '/IPv4 Address/{print $4}')
    dns=$(echo "$wdutil_out"     | awk '/DNS Addresses/{print $4}')
    gateway=$(echo "$wdutil_out" | awk '/IPv4 Router/{print $4}')

    echo "WiFi:      ${ssid:-not connected}"
    echo "IP:        ${ip:-none}"
    echo "Gateway:   ${gateway:-none}"
    echo "DNS:       ${dns:-none}"
    echo "Signal:    $(echo "$wdutil_out" | awk '/RSSI/{print $3, $4}')"
    echo "Security:  $(echo "$wdutil_out" | awk '/Security/{print $3, $4}')"

    # External IP
    # echo "External:  $(curl -s --max-time 3 https://api.ipify.org 2>/dev/null || echo 'unavailable')"
    echo ""
    echo "=== Connectivity ==="

    # Ping gateway
    if ping -c 1 -W 1 10.17.76.1 &>/dev/null; then
      echo "Gateway:   reachable (10.17.76.1)"
    else
      echo "Gateway:   UNREACHABLE (10.17.76.1)"
    fi

    # DNS lookup via Pi-hole
    local lookup
    lookup=$(dig @10.17.76.2 google.com +short +time=2 2>/dev/null | head -1)
    if [[ -n "$lookup" ]]; then
      echo "Pi-hole:   responding ($lookup)"
    else
      echo "Pi-hole:   NOT RESPONDING (10.17.76.2)"
    fi

    # Local NAS hostname lookup
    local nas
    nas=$(dig @10.17.76.2 nas.home.arpa +short +time=2 2>/dev/null | head -1)
    if [[ -n "$nas" ]]; then
      echo "NAS:       resolved ($nas)"
    else
      echo "NAS:       UNRESOLVED (nas.home.arpa)"
    fi
  }
fi

function getit() {
    tmux new-session -d -s postgres >/dev/null
    tmux rename-window -t postgres:0 'main'
    tmux select-pane -t postgres:0.0
    tmux send-keys -t postgres:0.0 'cd /home/cgorshing/workspaces/postgres' Enter
    tmux send-keys -t postgres:0.0 'podman-compose up' Enter

    tmux new-session -d -s phx >/dev/null
    tmux rename-window -t phx:0 'main'
    tmux select-pane -t phx:0.0
    # tmux send-keys -t phx:0.0 'turnOnASDF' Enter
    tmux send-keys -t phx:0.0 'cd /home/cgorshing/workspaces/phoenix/quick-intros' Enter
    tmux send-keys -t phx:0.0 'mix phx.server' Enter
}
