*~
foo/
*.foo
foo.*
foo

# From https://github.com/mathiasbynens/dotfiles/blob/master/.gitignore

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

scratchpad*.*
pytest.ini
coverage-report.txt
.tool-versions
.pylintrc
vscode/
.vscode

.idea/
