[user]
  name = Chad Gorshing
  email = gorshing@gmail.com
  signingKey = 4413A700
[commit]
  gpgsign = true
[branch]
  autoSetupMerge = always
  autoSetupRebase = always
[apply]
  whitespace = nowarn
[core]
  excludesFile = ~/.gitignore
  autocrlf = input
  safecrlf = true
  eol = lf
  # --quit-if-one-screen --RAW-CONTROL-CHARS --LONG-PROMPT --shift 5 --chop-long-lines
  pager = less --quit-if-one-screen
# Careful git uses LESS
# https://stackoverflow.com/questions/48341920/git-branch-command-behaves-like-less
# I also found that the "quit-if-one-screen" makes git stash show
# nothing, might be related to a specific termainal/tty

# https://stackoverflow.com/questions/4225350/turning-off-the-pager-in-git-for-the-stash-command-only#comment13117129_9869503
# Doesn't work here (xterm on pts) because after less quit, there is nothing left of less display, it redraws the previous prompts. But it works on the term "linux" on tty1.
[pager]
  tag = false
  branch = false
  stash = false
[alias]
  contributors = shortlog --summary --numbered
  co = checkout
  ci = commit
  st = status
  br = branch
  d = diff
  ss = status -s
  st = status

  hist = log --pretty=format:'%h %ad | %s %d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

  one = log --pretty=format:'%h - %an, %ar : %s'
  pl = log --oneline --decorate --graph
  plall = log --oneline --decorate --all --graph
  ds = diff --staged
  dwd = diff --word-diff
  dcw = diff --color-words
  dswd = diff --staged --word-diff
  dscw = diff --staged --color-words

  sw = switch
  stashall = stash --include-untracked

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  remotes = remote --verbose

  # From https://twitter.com/rakyll/status/1311479159936311299
  undo = reset HEAD~

  recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
[color]
  #ui = 1
  ui = auto
  status = auto
  interactive = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  whitespace = blue reverse
[gc]
  auto = 1
[push]
  default = simple
[fetch]
  prune = true
[rebase]
  autosquash = true
[pull]
  rebase = true

[init]
  defaultBranch = main

[include]
  path = ~/workspaces/dotfiles/.gitconfig-OS

# I have a few of these, I just don't want to show publicly
# all the client names I have
[includeIf "gitdir/i:workspaces/clientname/"]
  path = gitconfig.clientname
