[user]
  name = Chad Gorshing
  email = gorshing@gmail.com
  signingkey = 334B0E60
[branch]
  autosetupmerge = always
  autosetuprebase = always
[apply]
  whitespace = nowarn
[core]
  excludesfile = /Users/cgorshing/.gitignore_global
  autocrlf = false
  safecrlf = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  d = diff
  ss = status -s
  st = status

  hist = log --pretty=format:'%h %ad | %s %d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

  pl = log --oneline --decorate --graph
  plall = log --oneline --decorate --all --graph
  ds = diff --staged
  dwd = diff --word-diff
  dcw = diff --color-words
  dswd = diff --staged --word-diff
  dscw = diff --staged --color-words
[color]
  #ui = 1
  ui = auto
  status = auto
  interactive = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[gc]
  auto = 1
[push]
  default = simple
[commit]
  template = /Users/cgorshing/.stCommitMsg
[diff]
  tool = bc3
#[merge]
#  tool = bc3
#[mergetool "bc3"]
#  trustExitCode = true
#[diff]
  #tool = p4merge
#[difftool "p4merge"]
  #cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "\"$REMOTE\"" "\"$LOCAL\""
[merge]
  keepBackup = false
  tool = p4merge
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[gpg]
  program = /usr/local/bin/gpg

[init]
  templateDir = ~/workspaces/dotfiles/.config/git/template
