[user]
  name = Chad Gorshing
  email = gorshing@gmail.com
  signingkey = 334B0E60
[branch]
  autosetupmerge = always
  autosetuprebase = always
[apply]
  whitespace = nowarn
[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  safecrlf = true
[alias]
  contributors = shortlog --summary --numbered
  co = checkout
  ci = commit
  st = status
  br = branch
  d = diff
  ss = status -s
  st = status

  hist = log --pretty=format:'%h %ad | %s %d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

  pl = log --oneline --decorate --graph
  plall = log --oneline --decorate --all --graph
  ds = diff --staged
  dwd = diff --word-diff
  dcw = diff --color-words
  dswd = diff --staged --word-diff
  dscw = diff --staged --color-words
[color]
  #ui = 1
  ui = auto
  status = auto
  interactive = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  whitespace = blue reverse
[gc]
  auto = 1
[push]
  default = simple
[commit]
  template = ~/.stCommitMsg

[gpg]
  program = /usr/local/bin/gpg

[init]
  templateDir = ~/workspaces/dotfiles/.config/git/template

[include]
  path = ~/workspaces/dotfiles/.gitconfig-mac
  path = ~/workspaces/dotfiles/.gitconfig-linux
  path = ~/workspaces/dotfiles/.gitconfig-win
